.container{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.7) ;
}
.list_menu{
    /* display: flex; */
    justify-content: left;
    height: 100px;
    align-items: flex-end;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.list_item{
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 100px;
    box-shadow: 3px -1px 5px 0px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px 20px 0 0 ;
    overflow: hidden;
    font-size: 12px;
    transition: 1s;
    bottom: 0;
}
.list_item:nth-child(1){
    left: 0;
}
.list_item:nth-child(2){
    left: 70px;
}
.list_item:nth-child(3){
    left: 140px;
}
.list_item:nth-child(4){
    left: 210px;
}
.list_item:nth-child(5){
    left: 280px;
}
.list_item:nth-child(6){
    left: 350px;
}
.list_item:hover {
    width:150px;
    height: 85px;
    line-height: 85px;
    background-color: pink;
    /* z-index: 99; */
}
.best_item{
    /* height: 10000px; */
    border: 1px solid;
    padding: 50px 20px;
    box-sizing: border-box;
}
.item{
    display: flex;
    height: 300px;
    width: 100%;
    gap: 20px;
    border-radius: 30px;
    overflow: hidden;
    background: white;
}
.img_box{
    height: 100%;
    width: 40%;
    box-shadow: 5px 3px 8px 2px;
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
}
.desc_box{
    /* border: 1px solid; */
    box-sizing:border-box;
    padding: 50px;
    width: 60%;
    height: 100%;


}
.title{
    font-size: 25px;
    font-weight: 900;
    font-family: "Stylish", serif;
}
.airplane{
    font-size: 12px;
    color: grey;
    text-align: right;
    margin-right: 27px;
}
.where{
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
    margin-right: 27px;
}
.price{
    margin-top: 50px;
    text-align: right;
    font-size: 30px;
    font-weight: 900;
    color: red;
}

.tour{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.tour_list{
    display: none;
    position: relative;

}
.pre{display: none;}
.container {
    margin-bottom: 100px;
}
h1 {
    font-family: "Stylish", serif;
}

/* .recomendation .item .desc_box{


} */
.item:hover {
    box-shadow:  5px 5px 10px 0px;
}
.icon{
    position: fixed;
    bottom: 200px;
    right: 0;
    display: none;
}
